#calcBody{
    display:flex;
    height:650px;
    width:500px;
    background-color:darkgray;
    flex-direction:column;
    border-radius:20px;
}


#calcBodyDisplay{
    display:flex;
    height:100px;
    width:500px;
    align-items: center;
    justify-content: center;
}

#display{
    display:flex;
    flex-direction:column;
    height:50px;
    width:300px;
    align-items:flex-end;
    background-color:lightgray;
    justify-content:right;
}

#displayTop{
    display:flex;
    flex-direction:row;
    height:25px;
    width:300px;
}
#displayTopRight{
    height:25px;
    width:25px;
    display:flex;
    justify-content: center;
}

#displayTopLeft{
    display:flex;
    justify-content:right;
    height:25px;
    width:275px;
}
#bottom{
    display:flex;
    align-items: center;
    justify-content: center;
}

#buttonHolder{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    height:400px;
    width:400px;
}

.buttonCollumn{
    display:flex;
    flex-direction: column;
}

.buttons{
    height:100px;
    width:100px;
}

.enterButton{
    height:200px;
    width:100px;
}