body{
    background-color:black;
    display:flex;
    justify-content:center;
}

button{
    font-size:32px;
}

#calcBody{
    display:flex;
    height:725px;
    width:450px;
    background-color:rgb(110, 211, 177);
    flex-direction:column;
    border-radius:20px;
}


#calcBodyDisplay{
    display:flex;
    height:200px;
    width:450px;
    align-items: center;
    justify-content: center;
}

#display{
    display:flex;
    flex-direction:column;
    height:100px;
    width:300px;
    align-items:flex-end;
    background-color:lightgray;
    justify-content:right;
    font-size:40px;
}

#displayTop{
    display:flex;
    flex-direction:row;
    height:50px;
    width:300px;
}
#displayTopRight{
    height:50px;
    width:25px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:20px;

}

#displayTopLeft{
    display:flex;
    justify-content:right;
    align-items:center;
    height:50px;
    width:275px;
    font-size:30px;

}

#displayBottom{
    display:flex;
    justify-content: right;
    align-items: center;
}
#bottom{
    display:flex;
    align-items: center;
    justify-content: center;
}

#buttonHolder{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    height:400px;
    width:400px;
}

#hint{
    color:white;
}

.buttonCollumn{
    display:flex;
    flex-direction: column;
}

.buttons{
    height:100px;
    width:100px;
}

.enterButton{
    height:200px;
    width:100px;
}

.orangeButton{
    background-color:#ede91280;
    border-radius:20px;
}

.blueButton{
    background-color:#16ed1280;
    border-radius:20px;
}

.funcButton{
    background-color:#83ed127e;
    border-radius:20px;
}

